 body {
            text-align: center;
            font-family: Arial, sans-serif;
            margin-top: 50px;
        }

        h1 {
            margin-bottom: 20px;
        }

        #display {
            width: 200px;
            height: 40px;
            font-size: 18px;
            text-align: right;
            margin-bottom: 15px;
            padding-right: 5px;
        }

        button {
            width: 45px;
            height: 40px;
            font-size: 16px;
            margin: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ddd;
        }
